<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lut.ticket.dao.AdminMapper">
<resultMap id="BaseResultMap" type="com.lut.ticket.entity.Admin">
            <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
</resultMap>  
    
    <!-- ??? -->
    <sql id="baseColumns">
         t.id
        , t.username
        , t.password
        , t.phone
        </sql> 
    
    <!-- ???? -->
    <select id="listAll" resultMap="BaseResultMap">
SELECT         
        <include refid="baseColumns" />
FROM admin t
</select>
 
 <!-- ?????????? -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
SELECT         
        <include refid="baseColumns" />
FROM admin t
WHERE id = #{id}
</select>

<!-- ?????? -->
    <insert id="insert" parameterType="com.lut.ticket.entity.Admin"
keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
INSERT INTO admin
    <trim prefix="(" suffix=")" suffixOverrides=","> 
            id,
                username,
                password,
                phone,
            </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
                #{id},                   
                    #{username},                   
                    #{password},                   
                    #{phone},                   
            </trim>
</insert>
    
    <!-- ????NULL??? -->
    <insert id="insertIgnoreNull" parameterType="com.lut.ticket.entity.Admin"
        keyProperty="id" keyColumn="id" useGeneratedKeys="true"
        >
        INSERT INTO admin    
        <trim prefix="(" suffix=")" suffixOverrides=","> 

                                                <if test="id != null">
                   id,
                    </if>
                                                                <if test="username != null">
                   username,
                    </if>
                                                                <if test="password != null">
                   password,
                    </if>
                                                                <if test="phone != null">
                   phone,
                    </if>
                                    </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
                                                <if test="id != null" >
                    #{id},                    
                    </if>
                                                                <if test="username != null" >
                    #{username},                    
                    </if>
                                                                <if test="password != null" >
                    #{password},                    
                    </if>
                                                                <if test="phone != null" >
                    #{phone},                    
                    </if>
                                    </trim>
    </insert>

<!-- ??,?????? -->
    <update id="update" parameterType="com.lut.ticket.entity.Admin">
    UPDATE admin
     <set>
                                     username=#{username},        
                                password=#{password},        
                                phone=#{phone},        
                   </set>
    WHERE id = #{id}
    </update>  
    
    
    <!-- ????NULL??? -->
    <update id="updateIgnoreNull" parameterType="com.lut.ticket.entity.Admin">
    UPDATE admin
    <set>
                                                    <if test="username != null" >
                username=#{username},                 
                </if>
                                                <if test="password != null" >
                password=#{password},                 
                </if>
                                                <if test="phone != null" >
                phone=#{phone},                 
                </if>
                        </set>
    WHERE id = #{id}
    </update>


<!-- ???????? -->
<delete id="delete" parameterType="com.lut.ticket.entity.Admin">
DELETE FROM admin
WHERE id = #{id}
</delete>


</mapper>